.main{
    background: url("../images/background.png");
    background-size: cover;
    min-height: 768px;
}
.header__menu{
    background-size: cover;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;

}
.header__svg-container{
    display: flex;
    align-items: center;
    padding-left: 740px;

}
.header__title{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding-left: 79px ;
}
.title__link{
    color: white;
    text-decoration: none;
}
.title__link:hover{
    color: #3CB878;
}
.svg1{
    align-self: center;
    margin-right: 27px;
}
.svg_link:last-child {
    border-right: 2px solid rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
}
.header__registration{
    display: flex;
}
.welcome{
    display: flex;
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    align-self: center;
    margin-left: 27px;

}
.login__link{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 3px;
    margin-right: 4px;
}
.login__link:hover{
    color: #3CB878;
}
.signup__link{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 3px;
}
.signup__link:hover{
    color: #3CB878;
}
.registration__links{
    display: flex;
}
.login__form{
    background: #FFFFFF;
    object-fit: cover;
    max-width: 444px;
    margin: auto;
    margin-top: 54px;
    position: relative;
    height: 584px;

}
.signup{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    margin-left: 61px;
}
.signup::before{


}
.login{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #3CB878;
    margin-left: 216px ;
}
.buttons{
    display: flex;
    justify-content: center;
}
.google{
    margin-left: 4px ;
    background:#DF4A32 ;
    width: 160px;
    height: 48px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    border: #DF4A32;
    cursor: pointer;
}
.google:hover{
    background: #AB1F09;
}
.facebook{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    background:#305DB8 ;
    border-radius: 5px;
    border: #305DB8;
    cursor: pointer;
}
.facebook:hover{
    background: #022263;
}
.facebook__text{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    margin-left: 38px ;
}
.google__text{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    margin-left: 38px ;
}
.login__form-link{
    text-decoration: none;
    color: #3CB878;
}
.login__form-link:hover{
    text-decoration: underline;
    color: #3CB878;
}
.line__between{
    display: flex;
    justify-content: center;
    position: relative;
}
.or{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
}
.line__between::before{
    content: '';
    left: 54px;
    top: 22px;
    width: 152px;
    position: absolute;
    border: 1px solid #F2F2F2;
    display: block;
}
.line__between::after{
    content: '';
    left: 225px;
    top: 22px;
    width: 152px;
    position: absolute;
    border: 1px solid #F2F2F2;
    display: block;
}
.registration__form{
    display: flex;
    justify-content: center;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
}
.inputs{
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-top: 10px;
}
.inputs:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder{
    padding-left: 19px;
}
.checkbox__link{
    text-decoration: none;
    color:#3CB878 ;
    margin-left: 6px;
}
.checkbox{
    margin-top: 10px;
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #434343;
}
.create__account{
    margin-top: 15px;
    width: 324px;
    height: 46px;
    background: #3CB878;
    border-radius: 5px;
    border: #3CB878;
    margin-bottom: 38px;
    cursor: pointer;
}
.span__account{
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.checkbox__link:hover{
    text-decoration: underline;
    color: #01813F;
}
.create__account:hover{
    background: #01813F;
}
.checkbox::before{
    color: #01813F;
    background: #01813F;
}



